SistemaDistribuidoJava/SiteCompra/src/conf/xml-resources/web-service-references/InfoServidor/wsdl/localhost_8080/ServicoWeb/InfoServidor.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://InfoServidor/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://InfoServidor/">

<xs:element name="setEstadoFila" type="tns:setEstadoFila" />

<xs:element name="setEstadoFilaResponse" type="tns:setEstadoFilaResponse" />

<xs:element name="setNumCompra" type="tns:setNumCompra" />

<xs:element name="setNumCompraResponse" type="tns:setNumCompraResponse" />

<xs:complexType name="setNumCompra">
<xs:sequence>
<xs:element name="numCompra" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setNumCompraResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setEstadoFila">
<xs:sequence>
<xs:element name="numConsulta" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setEstadoFilaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>